body {
  background: #FFFFFF;
  color: #000000;
  font-size: 17px;
  line-height: 23px;
  font-family: sans-serif;
  width: 550px;
  margin: 50px auto;
}

h1, h2 {
  font-size: 16px;
  line-height: 22px;
  margin: 0;
}

@media screen and (max-width: 600px) {
  body, h1, h2 {
    font-size: 20px;
    line-height: 1.2;
  }
}

h2 {
  font-weight: bold;
}

p {
  margin-top: 0;
}

ul {
  list-style: none;
  margin-top: 0;
  padding: 0;
}

a {
  color: #1f1ac4;
}

a:hover {
  color: #1a42c4;
}

img {
  margin: 0px 20px 0px;
}

p img {
  padding: 0;
  display: block;  
  margin: auto;
  max-width: 100%;
  max-height: 100vh;
  width: auto;
}
